<!DOCTYPE html>
<html>
<head>
  <title>Rockauth</title>
  <%= stylesheet_link_tag    "rockauth/application", media: "all" %>
  <%= javascript_include_tag "rockauth/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
